<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="file:///C:/USERS/BARONP/APPDATA/LOCAL/MICROSOFT/VISUALSTUDIO/11.0/EXTENSIONS/imytxydm.emm/TestFiles/QUnit/qunit.css"/>
<script type="text/javascript" src="file:///C:/USERS/BARONP/APPDATA/LOCAL/MICROSOFT/VISUALSTUDIO/11.0/EXTENSIONS/imytxydm.emm/TestFiles/QUnit/qunit.js"></script>

    
    
    <script type="text/javascript" src="file:///C:/Users/baronp/Documents/Visual%20Studio%202012/Projects/MagenicManila.Brownbag/magenicmanila.brownbag.ui.web/scripts/jquery-1.8.2.js"></script>
<script type="text/javascript" src="file:///C:/Users/baronp/Documents/Visual%20Studio%202012/Projects/MagenicManila.Brownbag/magenicmanila.brownbag.ui.web/scripts/jquery-ui-1.8.24.js"></script>
<script type="text/javascript" src="file:///C:/Users/baronp/Documents/Visual%20Studio%202012/Projects/MagenicManila.Brownbag/magenicmanila.brownbag.ui.web/scripts/jquery.validate.js"></script>
<script type="text/javascript" src="file:///C:/Users/baronp/Documents/Visual%20Studio%202012/Projects/MagenicManila.Brownbag/magenicmanila.brownbag.ui.web/scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="file:///C:/Users/baronp/Documents/Visual%20Studio%202012/Projects/MagenicManila.Brownbag/magenicmanila.brownbag.ui.web/scripts/knockout-2.2.0.debug.js"></script>
<script type="text/javascript" src="file:///C:/Users/baronp/Documents/Visual%20Studio%202012/Projects/MagenicManila.Brownbag/magenicmanila.brownbag.ui.web/scripts/modernizr-2.6.2.js"></script>
<script type="text/javascript" src="file:///C:/Users/baronp/Documents/Visual%20Studio%202012/Projects/MagenicManila.Brownbag/magenicmanila.brownbag.ui.web/scripts/_references.js"></script>

    <script type="text/javascript" src="file:///C:/Users/baronp/Documents/Visual%20Studio%202012/Projects/MagenicManila.Brownbag/MagenicManila.Brownbag.UI.Web.Tests/Scripts/Views/Ssample.Tests.js"></script>

</head>

<body>
    <h1 id="qunit-header">Unit Tests</h1>
    <h2 id="qunit-banner"></h2>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests"></ol>
    <div id="qunit-fixture"></div>
</body>
</html>
